{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">

		<div class="col-md-6.col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">Passwort ändern</div>
				<div class="panel-body">
					<form action="{{ path_for('auth.change') }}" method="post" autocomplete = "off">

						<div class="form-group{{ errors.password_old ? ' has-error' : '' }}">
							<label for="password_old">Aktuelles Password</label>
							<input type="password" name="password_old" id="password_old" class="form-control">
						</div>
						{% if errors.password_old %}
							<span class="help-block"><font color="red">{{ errors.password_old }}</font></span>
						{% endif %}

						<div class="form-group{{ errors.password ? ' has-error' : '' }}">
							<label for="password">Neues Passwort</label>
							<input type="password" name="password" id="password" class="form-control">
						</div>
						{% if errors.password %}
							<span class="help-block"><font color="red">{{ errors.password }}</font></span>
						{% endif %}

						
						<button type="subit" class="btn btn-default">Ändern</button>

						{{ csrf.field | raw }}
						
					</form>
				</div>
			</div>
		</div>	

	</div>


{% endblock %}