{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row">

		<div class="col-md-6.col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">SignUp</div>
				<div class="panel-body">
					<form action="{{ path_for('auth.signup') }}" method="post" autocomplete = "off">

						<div class="form-group{{ errors.email ? ' has-error' : '' }}">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" placeholder="you@domain.com" class="form-control" value="{{ old.email }}">
						</div>
						{% if errors.email %}
							<span class="help-block"><font color="red">{{ errors.email }}</font></span>
						{% endif %}

						<div class="form-group{{ errors.name ? ' has-error' : '' }}">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" class="form-control" value="{{ old.name }}">
						</div>
						{% if errors.name %}
							<span class="help-block"><font color="red">{{ errors.name }}</font></span>
						{% endif %}

						<div class="form-group{{ errors.surname ? ' has-error' : '' }}">
							<label for="surname">Surname</label>
							<input type="text" name="surname" id="surname" class="form-control" value="{{ old.surname }}">
						</div>
						{% if errors.surname %}
							<span class="help-block"><font color="red">{{ errors.surname }}</font></span>
						{% endif %}
						<div class="form-group{{ errors.password ? ' has-error' : '' }}">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" class="form-control">
						</div>
						{% if errors.password %}
							<span class="help-block"><font color="red">{{ errors.password }}</font></span>
						{% endif %}

						<div class="form-group{{ errors.confirm_password ? ' has-error' : '' }}">
							<label for="confirm_password">Confirm Password</label>
							<input type="password" name="confirm_password" id="confirm_password" class="form-control">
						</div>
						{% if errors.confirm_password %}
							<span class="help-block"><font color="red">{{ errors.confirm_password  }}</font></span>
						{% endif %}

						<button type="subit" class="btn btn-default">SignUp</button>

					</form>
				</div>
			</div>
		</div>	

	</div>


{% endblock %}